.cardView{
    display: flex;
    align-items: center;
    justify-content: center; 

    font-size: 50px;
    border-color: aqua;
    border-width: 2px;
    border-style: solid;
    width: 70px;
    height: 80px;
    /*width: calc(100% - 5px);
    height: calc(100% - 5px);*/
    

}

.cardView-container{
    background-color: var(--primary-color);
    width: 80px; 
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}

.cardView-hidden {
    background-color: var(--primary-color);

}

.cardView-selected {
    background-color: var(--secondary-color);

}

.cardView-discovered {
    background-color: var(--primary-color-light);

}