.controllerView-fadeContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--fadecolor);
    opacity: 0;
    
}

.controllerView-elementsContainer{
    width: 100%;
    height: 100%;
}