.themesView {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 20px;
    flex-direction: column;
    background-color: var(--background-color);
    overflow: scroll;
}

.themeView-text{
    color: var(--secondary-color);
    padding-top: 30px;
    
}